* {
	box-sizing: border-box;
	margin: 0;
	font-family: sans-serif;
}

body {
	background: url("./extremeweather.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 100vh;
	z-index: 99;
	overflow: hidden;
}

.animation {
	color: #4db1bc;
	margin: 0;
	font-family: "Teko", sans-serif;
	font-size: 8rem;
	text-transform: uppercase;
	animation: glow 2s ease-in-out infinite alternate;
	text-align: center;
	z-index: 99;
}

@keyframes glow {
	from {
		text-shadow: 0 0 20px #2d9da9;
	}
	to {
		text-shadow: 0 0 30px #34b3c1, 0 0 10px #4dbbc7;
	}
}

@media screen and (max-width: 600px) {
	.animation {
		font-size: 7rem;
	}
}
